 <!-- Services-->
<section class="page-section bg-light" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Services</h2>
            <h3 class="section-subheading text-muted">
                In an ever-changing world, where technology changes so rapidly, it could be quite daunting keeping up.
                At Greybean Solutions, we want to help you make sure this is not the case.
            </h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x"><i class="fas fa-desktop fa-stack-1x fa-inverse text-primary"></i></span>
                <h4 class="my-3 text-capitalize">Application Development</h4>
                <p class="text-muted">At Greybean Solutions, we know the postive impact, having a sucessful Mobile, Web or Desktop solution can provide for your business. This is all part of our digital transformation message.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x"><i class="fas fa-lock fa-stack-1x fa-inverse text-primary"></i></span>
                <h4 class="my-3 text-capitalize">Security</h4>
                <p class="text-muted">No matter the size of your company, software security is at the heart of any successful business we aim to provide the best advice as well as building secure solutions to keep you and your data protected from threats.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x"><i class="fas fa-cloud fa-stack-1x fa-inverse text-primary"></i></span>
                <h4 class="my-3 text-capitalize">Cloud and DevOps</h4>
                <p class="text-muted">Behind every successful digital service is a reliable and rigid IT infrastructure. We at Greybean Solutions, would like to work with you in making your IT infrastructure equally rigid.</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x"><i class="fas fa-database fa-stack-1x fa-inverse text-primary"></i></span>
                <h4 class="my-3 text-capitalize">Big Data</h4>
                <p class="text-muted">In this information age, where data is one of the most valuable and powerful assets, using data analytics, we help you understand your customers better.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x"><i class="fas fa-comment fa-stack-1x fa-inverse text-primary"></i></span>
                <h4 class="my-3 text-capitalize">Consultancy</h4>
                <p class="text-muted">Providing you with an honest, independent view of how best to align your technology with your business plan. We unbiasedly consider all aspects of your business, reviewing your current state and future structure.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x"><i class="fas fa-chart-line fa-stack-1x fa-inverse text-primary"></i></span>
                <h4 class="my-3 text-capitalize">Analytics</h4>
                <p class="text-muted">With so much data now available in the world, the first steps are to gather those data and transform it into making business decisions, analyse trends and optimize their performances.</p>
            </div>
        </div>
    </div>
</section>

<!-- About-->
<section class="page-section" id="about">

    <div class="container">

        <div class="text-center">
            <h2 class="section-heading text-uppercase">About</h2>
            <h3 class="section-subheading text-muted">Greybean Solutions is an IT service provider recognized within the UK as a technology expert. We work closely with clients, offering services in key areas of application development, Cloud infrastructure, DevOps and Big Data.</h3>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 custom-sec-img wow fadeInDown">
                <img src="~/assets/img/apple-coffee-computer-desk.jpg" alt="Custom Image">
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 customized-text wow fadeInDown black-ed">
                <h4> <strong>Our Culture</strong></h4>
                <p>Whilst embracing a free working culture, we mobilize expert teams that create custom solutions from existing and emerging technology to deliver viable outcomes at speed.</p>
                <p>We pride ourselves on the fact that we have a wide span of technology experts under the same roof. We follow a consultative-driven approach for providing end-to-end expertise across the solutions we provide.</p>
                <div class="row">
                    <div class="col-md-11">
                        <h4><strong>Our Technology Stack</strong></h4>
                        <ul>
                            <li style="list-style-type: circle">Development Frameworks with Spring and DotNet</li>
                            <li style="list-style-type: circle">Javascript and Web libraries</li>
                            <li style="list-style-type: circle">Cloud with AWS, Azure and GCP</li>
                            <li style="list-style-type: circle">Mordern languages in C#, Java and Python</li>
                            <li style="list-style-type: circle">Architecture with Microservices, N-tier and Clean Domain Context</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Portfolio Grid-->
<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Portfolio</h2>
            <h3 class="section-subheading text-muted">Our diversely talented team have worked across several projects utilising different technology stacks. With a combined 12 years of experience, we bring together a range of skills to our portfolio.</h3>
        </div>
        <div class="row">
            <!-- Mortgage app-->
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="~/assets/img/portfolio/morgage-project.png" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Mortgage Re-Financing</div>
                        <p class="item-intro text-muted">Design, developed and tested components of a mortgage re-finance application for one of the largest bulding societies in the UK.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Fin-tech-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="~/assets/img/portfolio/fin-tech.jpg" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">FinTech</div>
                        <p class="item-intro text-muted">Design, developed and deployed a suite of fintech applications. Using Technologies such as Native Android, iOS SDK and React.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Assest management-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="~/assets/img/portfolio/asset-mgmt.jpg" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Asset Management</div>
                        <p class="item-intro text-muted">Design, developed and deployed an assest mangement software which allows end-users to track and anaylse investment portfolio in various markets.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <!-- AWS architecture-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="~/assets/img/portfolio/new_aws_border.png" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Cloud Dev-ops AWS Architecture</div>
                        <p class="item-intro text-muted">Modeling Kubernetes infrastructure for microservice(s) with EKS covering all CI/CD process from Gitlab to deployment of container nodes.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                <!-- Cyber security-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="~/assets/img/portfolio/cyber-security - Copy.jpg" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">File Encryption</div>
                        <p class="item-intro text-muted">Encryption and Decryption of files with Dot Net windows application, asynchronous programming with logging of results and caputuring information about your encrypted files.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <!-- Azure Jenkins-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="~/assets/img/portfolio/Azure-Jenkins-and-Powershell.png" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">DevOps - Azure and Jenkins Integration</div>
                        <p class="item-intro text-muted">Setup a CI/CD process using the best DevOps practices and industry recognizable tools for stable, secure and fast deployments.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Team-->
<section class="page-section" id="team">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Meet the Team</h2>
            <h3 class="section-subheading text-muted">
                The Greybean Solutions management team is comprised of a bunch of creative, visionary, and strategic minds.
                With its hands-on ‘value in the making’ approach and passion for technology, Greybean Solutions helps organizations implement their digital journeys at speed.
                We extend our love for technology to the Greybean Solutions family by cultivating a strong culture and instilling passion in each one of us towards a common goal.
            </h3>
        </div>

        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <p class="large text-muted">
                    A young talented team that is full of ideas and ready to have an impact in technology, with a variety of services.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="~/assets/img/team/william_alt.jpg" alt="" />
                    <h4>William Zhou</h4>
                    <p class="text-muted">Director</p>
                    <p>
                        <b>Dynamism</b> and <b> Agility </b>  are crucial in delivering high-end customer experience in the current digital landscape
                    </p>
                    <a class="btn btn-info btn-social mx-2" href="https://www.linkedin.com/in/williamkzhou/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="~/assets/img/team/fiyin_alt.jpg" alt="" />
                    <h4>Fiyin Adeyemo</h4>
                    <p class="text-muted">Director</p>
                    <p>
                        <b>Quality</b>, <b>Innovation</b> and <b>Can-do Attitude</b> are some of the most important elements when delivering optimal solutions.
                    </p>
                    <a class="btn btn-info btn-social mx-2" href="https://www.linkedin.com/in/fiyinadeyemo/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="~/assets/img/team/inyambae_alt.jpg" alt="" />
                    <h4>Inyambae Kanu</h4>
                    <p class="text-muted">Director</p>
                    <p>
                        <b>Creativity</b>  and <b> Passion </b> coupled with a proactive attitude helps in delivering professional and authentic software solutions
                    </p>
                    <a class="btn btn-info btn-social mx-2" href="https://www.linkedin.com/in/i-nyambae-kanu" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- Contact-->
<section class="page-section" id="contact">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Contact Us</h2>
            <h4 class="section-heading text-white">If you have any questions, please do not hesitate to send us a message.</h4>
        </div>
        <br />
        <form id="contactForm" name="sentMessage" novalidate="novalidate">
            <div class="row align-items-stretch mb-5">
                <div class="col-md-6">
                    <div class="form-group">
                        <input class="form-control" id="name" type="text" placeholder="Your Full Name *" required="required" data-validation-required-message="Please enter your name." />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="email" type="email" placeholder="Your Email *" required="required" data-validation-required-message="Please enter your email address." />
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-group-textarea mb-md-0">
                        <textarea class="form-control" id="message" placeholder="Your Message *" required="required" data-validation-required-message="Please enter a message."></textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <div id="success"></div>
                <button class="btn btn-primary btn-xl text-uppercase" id="sendMessageButton" type="submit">Send Message</button>
            </div>
        </form>
    </div>
</section>
